
*.json
*.bin
*.pt
*.pth
b0rt/vocab.txt
b0rt_zero/vocab.txt
bert_attention0_finetuned/vocab.txt
bert_attention11_finetuned/vocab.txt
bert_attention5_finetuned/vocab.txt
bert_classification_finetuned/vocab.txt
bert_finetuned/vocab.txt
bert_orig/vocab.txt
bert_embeddings_finetuned/vocab.txt
bert_attention_layer5_finetuned/vocab.txt
bert_attention_layer11_finetuned/vocab.txt
bert_attention_layer0_finetuned/vocab.txt
bert_encoder_layer5_finetuned/vocab.txt
bert_encoder_layer11_finetuned/vocab.txt
bert_encoder_layer0_finetuned/vocab.txt
bert_output_finetuned/vocab.txt
ForgettingBookTitles/bert_output_finetuned/vocab.txt
ForgettingBookTitles/bert_orig/vocab.txt
ForgettingBookTitles/bert_encoder_layer5_finetuned/vocab.txt
ForgettingBookTitles/bert_encoder_layer11_finetuned/vocab.txt
ForgettingBookTitles/bert_encoder_layer0_finetuned/vocab.txt
ForgettingBookTitles/bert_embeddings_finetuned/vocab.txt
ForgettingBookTitles/b0rt_zero/vocab.txt
